In [1]:
import pandas as pd
import os
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# import excel file while removing blank & irrelevant rows & columns
excel_file = '/Users/tinashem/Downloads/Census_All-Places-of-Origin_OD23.xlsx'
row_list = [4,5,6,7,8,22,23,33,34,50,51,70,71,72,73,74,75,85,86,101,102,115,116,117,174,175,176,177,178,179,206,207,217,218,234,235,236,237,238,254,255,263,264,265,267,268,269,291,293,295,296]
rows_to_skip = [x-1 for x in row_list]
data = pd.read_excel(excel_file, header=2, na_values='-', usecols='B,D:Z,AA:AM', nrows=300, skiprows=rows_to_skip)

# inspect file
data

,Place of Origin,1949/50,1954/55,1959/60,1964/65,1969/70,1974/75,1979/80,1984/85,1989/90,...,2015/16,2016/17,2017/18,2018/19,2019/20,2020/21,2021/22,2022/23,% Total,% Change
0,Burundi,NaN,NaN,NaN,6.0,6.0,5.0,12.0,32.0,54.0,...,148.0,180.0,134.0,141.0,164.0,149.0,157.0,194.0,NaN,23.6
1,Djibouti,NaN,NaN,NaN,NaN,NaN,1.0,2.0,16.0,19.0,...,9.0,10.0,9.0,9.0,6.0,6.0,6.0,10.0,NaN,66.7
2,Eritrea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,109.0,138.0,151.0,117.0,81.0,53.0,77.0,73.0,NaN,-5.2
3,Ethiopia,37.0,62.0,170.0,266.0,540.0,2050.0,1340.0,2120.0,2020.0,...,1517.0,1847.0,2118.0,2061.0,2356.0,2166.0,2680.0,3006.0,NaN,12.2
4,Kenya,NaN,19.0,156.0,774.0,492.0,870.0,1850.0,1890.0,2200.0,...,3019.0,3189.0,3322.0,3451.0,3710.0,3502.0,3799.0,4059.0,NaN,6.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244,Note: Regional names and data reflect Open Doo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
245,"Note: In the 1969/70 publication, 3,693 stude...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
246,Note: Percent distribution may not total 100.0...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
247,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
248,Suggested citation: Institute of International...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# inspect file again
data.tail(20)

,Place of Origin,1949/50,1954/55,1959/60,1964/65,1969/70,1974/75,1979/80,1984/85,1989/90,...,2015/16,2016/17,2017/18,2018/19,2019/20,2020/21,2021/22,2022/23,% Total,% Change
229,Niue,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,...,2.0,4.0,4.0,2.0,1.0,10.0,0.0,1.0,NaN,NaN
230,Norfolk Island,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,1.0,3.0,1.0,2.0,2.0,0.0,0.0,NaN,0.0
231,Palau,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71.0,...,12.0,15.0,31.0,26.0,34.0,25.0,19.0,13.0,NaN,-31.6
232,Papua New Guinea,NaN,NaN,NaN,NaN,4.0,3.0,9.0,18.0,16.0,...,87.0,77.0,83.0,86.0,88.0,100.0,92.0,104.0,NaN,13.0
233,Samoa,NaN,5.0,9.0,38.0,76.0,21.0,NaN,126.0,128.0,...,60.0,56.0,93.0,103.0,76.0,106.0,72.0,66.0,NaN,-8.3
234,Solomon Islands,NaN,NaN,NaN,NaN,NaN,NaN,1.0,6.0,1.0,...,5.0,8.0,9.0,15.0,17.0,16.0,14.0,10.0,NaN,-28.6
235,Tonga,NaN,1.0,7.0,90.0,93.0,40.0,37.0,110.0,116.0,...,130.0,133.0,169.0,186.0,161.0,189.0,119.0,147.0,NaN,23.5
236,Tuvalu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,4.0,3.0,4.0,4.0,4.0,6.0,1.0,3.0,NaN,200.0
237,Vanuatu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0,...,9.0,11.0,14.0,15.0,13.0,11.0,11.0,8.0,NaN,-27.3
238,Wallis and Futuna,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,2.0,0.0,2.0,0.0,3.0,9.0,0.0,NaN,-100.0
239,"Pacific Islands, Unspecified",NaN,15.0,38.0,145.0,327.0,1263.0,2033.0,1686.0,1028.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
240,Stateless,195.0,42.0,93.0,205.0,341.0,134.0,170.0,270.0,110.0,...,10.0,2.0,6.0,1.0,7.0,12.0,12.0,20.0,0.0,66.7
241,WORLD TOTAL,26433.0,34232.0,48486.0,82045.0,134959.0,154580.0,286340.0,342110.0,386850.0,...,1043839.0,1078822.0,1094792.0,1095299.0,1075496.0,914095.0,948519.0,1057188.0,100.0,11.5
242,Note: Historical data may not always sum to to...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
243,Note: Dash symbol (-) indicates no data availa...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244,Note: Regional names and data reflect Open Doo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
245,"Note: In the 1969/70 publication, 3,693 stude...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
246,Note: Percent distribution may not total 100.0...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
247,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
248,Suggested citation: Institute of International...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# create new dataframe
new_data = data[0:242]
new_data

,Place of Origin,1949/50,1954/55,1959/60,1964/65,1969/70,1974/75,1979/80,1984/85,1989/90,...,2015/16,2016/17,2017/18,2018/19,2019/20,2020/21,2021/22,2022/23,% Total,% Change
0,Burundi,NaN,NaN,NaN,6.0,6.0,5.0,12.0,32.0,54.0,...,148.0,180.0,134.0,141.0,164.0,149.0,157.0,194.0,NaN,23.6
1,Djibouti,NaN,NaN,NaN,NaN,NaN,1.0,2.0,16.0,19.0,...,9.0,10.0,9.0,9.0,6.0,6.0,6.0,10.0,NaN,66.7
2,Eritrea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,109.0,138.0,151.0,117.0,81.0,53.0,77.0,73.0,NaN,-5.2
3,Ethiopia,37.0,62.0,170.0,266.0,540.0,2050.0,1340.0,2120.0,2020.0,...,1517.0,1847.0,2118.0,2061.0,2356.0,2166.0,2680.0,3006.0,NaN,12.2
4,Kenya,NaN,19.0,156.0,774.0,492.0,870.0,1850.0,1890.0,2200.0,...,3019.0,3189.0,3322.0,3451.0,3710.0,3502.0,3799.0,4059.0,NaN,6.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237,Vanuatu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0,...,9.0,11.0,14.0,15.0,13.0,11.0,11.0,8.0,NaN,-27.3
238,Wallis and Futuna,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,2.0,0.0,2.0,0.0,3.0,9.0,0.0,NaN,-100.0
239,"Pacific Islands, Unspecified",NaN,15.0,38.0,145.0,327.0,1263.0,2033.0,1686.0,1028.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
240,Stateless,195.0,42.0,93.0,205.0,341.0,134.0,170.0,270.0,110.0,...,10.0,2.0,6.0,1.0,7.0,12.0,12.0,20.0,0.0,66.7
241,WORLD TOTAL,26433.0,34232.0,48486.0,82045.0,134959.0,154580.0,286340.0,342110.0,386850.0,...,1043839.0,1078822.0,1094792.0,1095299.0,1075496.0,914095.0,948519.0,1057188.0,100.0,11.5

In [5]:
# check number of rows and columns
new_data.shape

(242, 37)

In [6]:
# inspect columns

new_data.columns

Index(['Place of Origin', '1949/50', '1954/55', '1959/60', '1964/65',
       '1969/70', '1974/75', '1979/80', '1984/85', '1989/90', '1994/95',
       '1999/00', '2000/01', '2001/02', '2002/03', '2003/04', '2004/05',
       '2005/06', '2006/07', '2007/08', '2008/09', '2009/10', '2010/11',
       '2011/12', '2012/13', '2013/14', '2014/15', '2015/16', '2016/17',
       '2017/18', '2018/19', '2019/20', '2020/21', '2021/22', '2022/23',
       '% Total', '% Change'],
      dtype='object')

In [7]:
# inspect data types

new_data.dtypes

Place of Origin     object
1949/50            float64
1954/55            float64
1959/60            float64
1964/65            float64
1969/70            float64
1974/75            float64
1979/80            float64
1984/85            float64
1989/90            float64
1994/95            float64
1999/00            float64
2000/01            float64
2001/02            float64
2002/03            float64
2003/04            float64
2004/05            float64
2005/06            float64
2006/07            float64
2007/08            float64
2008/09            float64
2009/10            float64
2010/11            float64
2011/12            float64
2012/13            float64
2013/14            float64
2014/15            float64
2015/16            float64
2016/17            float64
2017/18            float64
2018/19            float64
2019/20            float64
2020/21            float64
2021/22            float64
2022/23            float64
% Total            float64
% Change           float64
dtype: object

In [8]:
# export to csv

# new_data.to_csv('/Users/tinashem/fixedCensusData.csv')